.message-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 0.2cm;
    margin: 50px;
}


.message-col {
    flex: 1 1 30%; 
    margin: 5px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0.2cm;
}


